/*
To compile:
0.  Visit https://github.com/jonycheung/deadsimple-less-watch-compiler
1.  Open Terminal
2.  Type this code at the project folder:
    less-watch-compiler less css
*/
@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Kanit:300,300i&subset=thai";
@import "_variables.less";
@import "_mixins.less";

/*---General Setting---*/
body{
  font-family: @font-secondary;
  color: @color-black;
  font-size: 14px;
}
h1{
  font-family: @font-primary;
  font-weight: normal;
}
h2{
  font-family: @font-primary;
  font-weight: normal;
}

/*---Common Elements---*/
hr.primary{
  max-width: 50px;
  border-color: @color-theme-primary;
  border-width: 3px;
}

/*---Button---*/
.btn{
  transition: .5s;
  border-radius: 3px;
  font-family: @font-primary;
  box-shadow: @global-shadow-depth-1;
  padding: 6px 10px;
}
.btn:hover{
  box-shadow: @global-shadow-depth-2;
}
.btn-primary{
  .button-variant(@color-white, @color-theme-primary, @color-theme-primary);
}
.btn-lg{
  font-size: 24px;
  min-width: 240px;
}

/*---Navigation Bar---*/
.navbar{
  margin-top: 20px;
  background: rgba(255,255,255,0);
  border: 0px;
  position: absolute;
  .navbar-header{
    .navbar-brand{
      padding: 0px;
      margin: 15px 0px 0px 0px;
      height: 30px;
    }
  }
  .navbar-nav{
    li > a{
      color: @color-white;
      padding: 0px 0px 5px 0px;
      margin: 20px 15px 15px 15px;
      transition: .5s;
      &:hover{
        color: @color-theme-primary;
      }
    }
    li.active > a, li.active:hover > a{
      color: @color-white;
      background: none;
      border-bottom: 4px solid @color-theme-primary;
      &:hover{
        color: @color-theme-primary;
      }
    }
    li.highlight > a{
      border: 1px solid @color-white;
      border-radius: 2px;
      margin-top: 15px;
      padding: 5px 10px;
      &:hover{
        background: @color-white;
        color: @color-theme-primary;
      }
    }
  }
}

/*---Jumbotron---*/
.jumbotron{
  background-image: linear-gradient(135deg, #079085 0%, #1BB7AA 100%);
  color: @color-white;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  h1{
    font-size: 32px;
    margin-top: 90px;
    margin-bottom: 10px;
  }
  h2{
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .feature{
    font-size: 14px;
    margin: 0px 30px;
  }
  @media only screen and (max-width: 768px) {
    .feature{
      display: block;
    }
  }
  .btn-primary{
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .jumbotron-screenshots{
    text-align: center;
    position: relative;
    margin: 0px 50px;
    .screenshot{
      &:extend(.img-responsive);
      animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
      -webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
    }
    @keyframes animLoadedContent {
        from {
            opacity: 0;
            transform: translate3d(0,200px,0);
        }
    }

    @-webkit-keyframes animLoadedContent {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0,200px,0);
        }
    }
    .screenshot-1{
      &:extend(.screenshot);
      position: relative;
      float: left;
      z-index: 1;
      animation-delay: 1.0s;
      -webkit-animation-delay: 1.0s;
    }
    .screenshot-2{
      &:extend(.screenshot);
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      left: 0;
      z-index: 3;
      animation-delay: 0.5s;
      -webkit-animation-delay: 0.5s;
    }
    .screenshot-3{
      &:extend(.screenshot);
      position: absolute;
      margin: 0 auto;
      top: 0;
      right: 0;
      z-index: 2;
      animation-delay: 1.5s;
      -webkit-animation-delay: 1.5s;
    }
  }
}
/*---Layout---*/
.content-wrapper{
  display: block;
  position: relative;
  min-height: 400px;
  .content{
    display: block;
    position: absolute;
    width: 100%;
    background: @color-white;
    min-height: 400px;
    z-index: 9;
  }
}
section{
  padding: 50px 0px;
}

/*---Responsive (Bootstrap Standard)---*/
/* Only Large devices (LG) */
@media only screen and (min-width: 1201px) {

}
/* Only Medium devices (MD) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {

}
/* Only Small devices (SM) */
@media only screen and (min-width: 769px) and (max-width: 992px) {

}
/* Only Extra Small devices (XS) */
@media only screen and (max-width: 768px) {

}
